pymongo
pandas
numpy
matplotlib
seaborn
scikit-learn
scipy
ipykernel
notebook
dill
flask
six
plotly 
xgboost
kneed
streamlit
jupyter
optuna
pyYAML
tqdm
ensure
joblib
types-pyYAML
Flask
Flask-Cors
python-box
mlflow

-e .